@import './mixins.scss';


.cursor-pointer {
  cursor: pointer;
}

.text-gradient-green {
    @include textGradient(45deg, #09009f, #00ff95 80%);
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

.gap-60 {
  gap: 60px;
}

[reverse="true"] {
  flex-direction: row-reverse;
  .project-card--text-block {
    padding-left:25px;
  }
}